<h1>Create a new table</h1>
<form action="/tables/create" method="post">
  <input type="text" name="table[name]" placeholder="Table Name" id="table_name" />

  <h2>User(s):</h2>
  <% User.all.each do |title| %>
    <input type="checkbox" name="table[user_ids][]" value="<%= user.id %>" id="<%= "user_#{user.id}" %>"><%= user.name %></input><br />
  <% end %>

  <input type="text" name="user[name]" placeholder="User Name" id="new_user"><br />

  <h2>Restaurant:</h2>
  <% Restaurant.all.each do |restaurant| %>
    <input type="checkbox" name="table[restaurant_ids][]" value="<%= restaurant.id %>" id="<%= "restaurant_#{restaurant.id}" %>"><%= restaurant.name %></input><br />
  <% end %>

  <input type="text" name="restaurant[name]" placeholder="Restaurant Name" id="new_restaurant"><br />

  <p><input type="submit" id="Create New Table" /></p>
</form>
