<div>

<h1><%= @restaurant.name %></h1>

<p>Overall wobbliness: <%= @restaurant.wobbliness %></p>

<p><%= @restaurant.street_address %><br />
<%= @restaurant.city %>, <%= @restaurant.state %>  <%= @restaurant.zipcode %></p>

<p><%= @restaurant.formatted_phone(@restaurant.phone) %></p>

<p>Tables:
  <ul>
  <% @restaurant.chowtables.each do |table| %>
    <li><a href="<%= "/chowtables/#{table.id}" %>">Table # <%= table.number %> | Wobbliness: <%= table.average == nil ? 'No reviews yet' : table.average %></a></li>
  <% end %>
  </ul>
</p>

<!-- Add Table  -->

<div>

  <input type="button" value="Add Table" id="reveal" onClick="reveal();" />

  <div id="form" style="display:none;">
    <form action="/reviews/create" method="post">

    <p><h5>New Table:</h5></p>
    <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>" />
    Table number: <input type="text" name="table_number" />
    Table type:
      <select name="table_type">
        <option value="booth">booth</option>
        <option value="communal">communal</option>
        <option value="private">private</option>
        <option value="window">window</option>
        <option value="outdoors">outdoors</option>
      </select>

    <p><h5>Your Review:</h5></p>
    Wobbliness: <input type="text" name="wobble" pattern="[0-5]" title="Please enter a number between 0 and 5" required /><br />
    Content: <input type="text" name="content" /><br />

    <p><input type="submit" value="Submit Review" /></p>
    </form>
  </div>

</div>
