<div>

<h1><%= @restaurant.name %></h1>

<p>Overall wobbliness: <%= @restaurant.wobbliness %></p>

<p><%= @restaurant.street_address %><br />
<%= @restaurant.city %>, <%= @restaurant.state %>  <%= @restaurant.zipcode %></p>

<p><%= @restaurant.formatted_phone(@restaurant.phone) %></p>

<p>Tables:
  <ul>
  <% @restaurant.chowtables.each do |table| %>
    <li><a href="<%= "/chowtables/#{table.id}" %>">Table # <%= table.number %> | Wobbliness: <%= table.average %></a></li>
  <% end %>
  </ul>
</p>

<div>
