<div>
  <h1><%= @review.restaurant.name %> | Table # <%= @review.chowtable.number %></h1>
  <form action="<%= "/reviews/#{@review.id}" %>" method="post">
    <input type="hidden" id="hidden" name="_method" value="patch" />
    <!-- Phone: <input type="text" name="restaurant_phone" placeholder=<%= @review.restaurant.phone %> /><br />
    Address: <input type="text" name="street_address" placeholder=<%= @review.restaurant.street_address %> />
    <input type="text" name="city" placeholder=<%= @review.restaurant.city %> />
    <input type="text" name="state" placeholder=<%= @review.restaurant.state %> />
    <input type="text" name="zipcode" placeholder=<%= @review.restaurant.zipcode %> /><br /> -->
    Wobbliness: <input type="text" name="wobble" placeholder=<%= @review.wobble %> /><br />
    Content: <input type="text" name="content" placeholder="<%= @review.content %>" /><br />
    <p>- <%= @review.user.name %> | Reviewed <%= @review.updated_at.strftime('%B %e, %Y') %></p>

    <input type="submit" name="Edit Review" />

  </form>
</div>
