<div>
  <h2>Create new review</h2>

  <form action="/reviews/create" method="post">

    <p><h5>Select existing table:</h5>
      <select name="table_id" id="<%= "select_chowtable" %>">
        <option label=" "></option>
        <% Chowtable.order('restaurant_id').each do |chowtable| %>
          <option value="<%= chowtable.id %>" id="<%= "#{chowtable.id}" %>" ><%= chowtable.restaurant.name if chowtable.restaurant %> <%= chowtable.number %></option>
        <% end %>
      </select>
    </p>

    <p><h5>Or add new table:</h5></p>

    Table Number: <input type="text" name="table_number"></input><br />
    Table Type:
    <select name="table_type">
      <option label=" "></option>
      <option value="booth">booth</option>
      <option value="communal">communal</option>
      <option value="private">private</option>
      <option value="window">window</option>
      <option value="outdoors">outdoors</option>
    </select>

    <p><h5>Select existing restaurant:</h5>
    <select name="restaurant_id" id="select_restaurant">
      <option label=" "></option>
      <% Restaurant.all.each do |restaurant| %>
        <option value="<%= restaurant.id %>" id="<%= "#{restaurant.id}" %>" ><%= restaurant.name %></option>
      <% end %>
    </select>
    </p>

    <p><h5>Or create new restaurant:</h5></p>

    Restaurant Name: <input type="text" name="restaurant_name" /><br />
    Restaurant Phone: <input type="text" name="restaurant_phone" pattern="[0-9]{1,15}" title="Phone should only contain numbers" /><br />
    Restaurant Address: <input type="text" name="street_address" placeholder="street address" /><input type="text" name="city" placeholder="city" /><input type="text" name="state" placeholder="state" /><input type="text" name="zipcode" placeholder="zipcode" /><br />

    <p><h5>Your review:</h5></p>

    Wobbliness: <input type="text" name="wobble" /><br />
    Content: <input type="text" name="content" /><br />

    <p><input type="submit" name="Create New Review" /></p>

  </form>
</div>
